# Logs
logs
*.log

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


client/web-react/dist/
client/web-react/deploy_versions/
client/web-react/.temp/
client/web-react/.rn_temp/
client/web-react/node_modules/
client/web-react/.DS_Store
client/web-react/.swc

